header {
    background-color: var(--second-color);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

h1.header {
    font-family: var(--font-title);
    font-weight: lighter;
    color: var(--highlight);
    -webkit-text-stroke: 0.8px rgb(43, 39, 3);
    font-size: 100%;
    user-select: none;
}

nav {
    display: flex;
    gap: 15px;
}
    nav a {
        color: var(--highlight);
        font-weight: bold;
        text-decoration: none;
        font-family: var(--font-light);
        font-size: 80%;
    }
        nav a:hover {
            text-decoration: underline;
        }