main {
    background-color: var(--first-color);
    padding: 10px;
}

img#logo {
    display: block;
    margin-right: 40%;
    margin-left: 40%;
    width: 20%;
}

h1.main {
    font-family: var(--font-title);
    color: var(--highlight);
    font-weight: lighter;
    font-size: 150%;

    display: flex;
    justify-content: center;
    user-select: none;
    -webkit-text-stroke: 0.8px rgb(43, 39, 3);
}
    p.main {
        display: flex;
        font-family: var(--font-light);
        font-size: 80%;
        color: white;

        text-align: justify;
        margin: 10px 20px 0px 20px;
    }

div.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}
    img.photo {
        width: 80%;
        border: 4px double var(--highlight);
    }

h2.main {
    font-family: var(--font-title) ;
    font-size: 90%;
    font-weight: lighter;
    color: var(--highlight);

    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-text-stroke: 0.8px rgb(43, 39, 3);
    margin-top: 40px;
}
    div.client {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
        margin-top: 5px;
    }
        img.client {
            width: 100%;
            border: 1px solid var(--highlight);
            border-radius: 8px;
        }
            img.client:hover {
                transition: 0.3s;
                transform: scale(1.02);
            }

@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 1440px) {}